### StarAgile Assignment - ML Assignment 2 Level - 2 (Binary Classification)
### Assignment Submitted by VINAY.M on 06-09-2023

-Perform EDA and build a model to predict loan default
-Perform data cleaning
-Deal with missing and duplicate values
-Perform Exploratory data analysis

-Check Whether the classes are balanced or not

-Explain which factors influence the default

-Perform data preprocessing

-Select best features for training the model (Feature engineering)

-Train the model using several classification models and find the best model suitable for the problem

-Use hyperparameter tuning to find best parameters for the algorithm

-Evaluate the model using various classification evaluation metrics


Dataset link:
https://drive.google.com/file/d/1yiYBvAipZEmPB9Mj5be9sP__ddG_LTVJ/view?usp=share_link

In [41]:
# Part - 1  Missing values checking and imputation

In [1]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Reading CSV Dataset
df = pd.read_csv('Loan_Default.csv')

In [3]:
df

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,24890,2019,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,...,EXP,758,CIB,25-34,to_inst,98.728814,south,direct,1,45.0
1,24891,2019,cf,Male,nopre,type2,p1,l1,nopc,b/c,...,EQUI,552,EXP,55-64,to_inst,NaN,North,direct,1,NaN
2,24892,2019,cf,Male,pre,type1,p1,l1,nopc,nob/c,...,EXP,834,CIB,35-44,to_inst,80.019685,south,direct,0,46.0
3,24893,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,EXP,587,CIB,45-54,not_inst,69.376900,North,direct,0,42.0
4,24894,2019,cf,Joint,pre,type1,p1,l1,nopc,nob/c,...,CRIF,602,EXP,25-34,not_inst,91.886544,North,direct,0,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148665,173555,2019,cf,Sex Not Available,nopre,type1,p3,l1,nopc,nob/c,...,CIB,659,EXP,55-64,to_inst,71.792763,south,direct,0,48.0
148666,173556,2019,cf,Male,nopre,type1,p1,l1,nopc,nob/c,...,CIB,569,CIB,25-34,not_inst,74.428934,south,direct,0,15.0
148667,173557,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,CIB,702,EXP,45-54,not_inst,61.332418,North,direct,0,49.0
148668,173558,2019,cf,Female,nopre,type1,p4,l1,nopc,nob/c,...,EXP,737,EXP,55-64,to_inst,70.683453,North,direct,0,29.0
148669,173559,2019,cf,Female,nopre,type1,p3,l1,nopc,nob/c,...,CIB,830,CIB,45-54,not_inst,72.849462,North,direct,0,44.0

In [4]:
# Checking DType
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148670 entries, 0 to 148669
Data columns (total 34 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ID                         148670 non-null  int64
 1   year                       148670 non-null  int64
 2   loan_limit                 145326 non-null  object
 3   Gender                     148670 non-null  object
 4   approv_in_adv              147762 non-null  object
 5   loan_type                  148670 non-null  object
 6   loan_purpose               148536 non-null  object
 7   Credit_Worthiness          148670 non-null  object
 8   open_credit                148670 non-null  object
 9   business_or_commercial     148670 non-null  object
 10  loan_amount                148670 non-null  int64
 11  rate_of_interest           112231 non-null  float64
 12  Interest_rate_spread       112031 non-null  float64
 13  Upfront_charges            109028 non-null  float64
 14  term                       148629 non-null  float64
 15  Neg_ammortization          148549 non-null  object
 16  interest_only              148670 non-null  object
 17  lump_sum_payment           148670 non-null  object
 18  property_value             133572 non-null  float64
 19  construction_type          148670 non-null  object
 20  occupancy_type             148670 non-null  object
 21  Secured_by                 148670 non-null  object
 22  total_units                148670 non-null  object
 23  income                     139520 non-null  float64
 24  credit_type                148670 non-null  object
 25  Credit_Score               148670 non-null  int64
 26  co-applicant_credit_type   148670 non-null  object
 27  age                        148470 non-null  object
 28  submission_of_application  148470 non-null  object
 29  LTV                        133572 non-null  float64
 30  Region                     148670 non-null  object
 31  Security_Type              148670 non-null  object
 32  Status                     148670 non-null  int64
 33  dtir1                      124549 non-null  float64
dtypes: float64(8), int64(5), object(21)
memory usage: 38.6+ MB

In [15]:
# Dropping Non-Significant Columns
df.drop(['ID','year','rate_of_interest','Interest_rate_spread','Upfront_charges','Gender'],axis='columns', inplace=True)

In [22]:
# Checking missing values
df.isna().sum()

loan_limit                    3344
approv_in_adv                  908
loan_type                        0
loan_purpose                   134
Credit_Worthiness                0
open_credit                      0
business_or_commercial           0
loan_amount                      0
term                            41
Neg_ammortization              121
interest_only                    0
lump_sum_payment                 0
property_value               15098
construction_type                0
occupancy_type                   0
Secured_by                       0
total_units                      0
income                        9150
credit_type                      0
Credit_Score                     0
co-applicant_credit_type         0
age                            200
submission_of_application      200
LTV                          15098
Region                           0
Security_Type                    0
Status                           0
dtir1                        24121
dtype: int64

In [32]:
# percentage of missing values
missing_values = df.isna().sum()
percentage_missing = (missing_values / len(df)) * 100
round(percentage_missing, 2)

loan_limit                    2.25
approv_in_adv                 0.61
loan_type                     0.00
loan_purpose                  0.09
Credit_Worthiness             0.00
open_credit                   0.00
business_or_commercial        0.00
loan_amount                   0.00
term                          0.03
Neg_ammortization             0.08
interest_only                 0.00
lump_sum_payment              0.00
property_value               10.16
construction_type             0.00
occupancy_type                0.00
Secured_by                    0.00
total_units                   0.00
income                        6.15
credit_type                   0.00
Credit_Score                  0.00
co-applicant_credit_type      0.00
age                           0.13
submission_of_application     0.13
LTV                          10.16
Region                        0.00
Security_Type                 0.00
Status                        0.00
dtir1                        16.22
dtype: float64

In [33]:
# We can Drop or We can go for Imputation
# For Numerical - KNNImputation
# For Categorical - Mode Imputation can be performed

In [25]:
# counting categorical columns
catCol = []
for col in df.select_dtypes(include=[object]).columns:
    catCol.append(col)
print(f"{len(catCol)} out of {df.shape[1]} are categorical")
catCol

20 out of 28 are categorical

['loan_limit',
 'approv_in_adv',
 'loan_type',
 'loan_purpose',
 'Credit_Worthiness',
 'open_credit',
 'business_or_commercial',
 'Neg_ammortization',
 'interest_only',
 'lump_sum_payment',
 'construction_type',
 'occupancy_type',
 'Secured_by',
 'total_units',
 'credit_type',
 'co-applicant_credit_type',
 'age',
 'submission_of_application',
 'Region',
 'Security_Type']

In [28]:
# counting Numerical columns
numricalCol = []
for col in df.select_dtypes(include=[int, float]).columns:
    numricalCol.append(col)
print(f"{len(numricalCol)} out of {df.shape[1]} are Numerical")
numricalCol

8 out of 28 are Numerical

['loan_amount',
 'term',
 'property_value',
 'income',
 'Credit_Score',
 'LTV',
 'Status',
 'dtir1']

In [36]:
# Writing a function to impute Numerial and Categorial
from sklearn.impute import KNNImputer

def impute_missing_data(df, k_neighbors=5):
    dfImputed = df.copy()
    for column in dfImputed.columns:
        if dfImputed[column].dtype == 'object':
            mode_value = dfImputed[column].mode().values[0]
            dfImputed[column].fillna(mode_value, inplace=True)
        else:
            imputer = KNNImputer(n_neighbors=k_neighbors)
            column_data = dfImputed[column].values.reshape(-1, 1)
            imputed_values = imputer.fit_transform(column_data)
            dfImputed[column] = imputed_values
    return dfImputed

In [37]:
imputed_df = impute_missing_data(df, k_neighbors=5)

In [39]:
# percentage of missing values after imputation
missing_values = imputed_df.isna().sum()
percentage_missing = (missing_values / len(df)) * 100
round(percentage_missing, 2)

loan_limit                   0.0
approv_in_adv                0.0
loan_type                    0.0
loan_purpose                 0.0
Credit_Worthiness            0.0
open_credit                  0.0
business_or_commercial       0.0
loan_amount                  0.0
term                         0.0
Neg_ammortization            0.0
interest_only                0.0
lump_sum_payment             0.0
property_value               0.0
construction_type            0.0
occupancy_type               0.0
Secured_by                   0.0
total_units                  0.0
income                       0.0
credit_type                  0.0
Credit_Score                 0.0
co-applicant_credit_type     0.0
age                          0.0
submission_of_application    0.0
LTV                          0.0
Region                       0.0
Security_Type                0.0
Status                       0.0
dtir1                        0.0
dtype: float64

In [40]:
#Saving Imputed Dataframe as it takes more time when we run 
imputed_df.to_csv('imputed_loan_default_data.csv', index=True)

--------------- Continued Refer Part(2) --------------